body {
    background-color: #d3d3d3 !important;
}

header {
    text-align: center;
    background-color: #1E5128;
    padding: 20px;
}

header h1 {
    font-size: 2em;
    color: #dfd6d6;
    margin: 0;
}

header p {
    font-size: 1.2em;
    color: #bbb6b6;
    margin: 5px 0 0;
}

main {
    padding: 20px;
    line-height: 1.6;
}

main p {
    font-size: 13px;
    margin: 10px 0;
    color: rgb(0, 0, 0);
}

main p strong {
    color: #151513;
}

img {
    width: 500px;
    height: 500px;
}

.bnt-cor {
    background-color: #1E5128;
}

.texte {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; /* Centraliza o modal na tela */
}

.row {
    display: flex;
    justify-content: center; /* Centraliza as colunas */
    flex-wrap: wrap; /* Permite que as colunas quebrem para a próxima linha */
}
h5{
    font-size: 10px;
}